.form-control, .form-control:focus, .form-control:hover{
    background: none;
/*    border-top: none;
    border-right: none;
    border-left: none;*/
    border-color: rgb(215, 230, 255);
    color: #bcafaf;
    text-align: center;
    box-shadow: none;
}
.form-control:hover, .form-control:focus {
    border-color: rgb(255,75,30);
}

