@keyframes fadefromblack {
    from { background: black; }
    to   { background: none; }
}

html {
    background: black;
    background: url('floodlights.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html, body {
    height: 100%;
}
body{
    background: black;
    animation: fadefromblack 2s;
    animation-fill-mode: forwards;
}
.noselect {
    user-select: none;
}

.title {
    font-family: Lobster, cursive;
    color: rgb(255,75,30);
    border-bottom: 5px solid;
    padding-bottom: 5px;
    font-size: 7em;
}
@media (max-width: 767px) {
    .title{
        font-size: 4em;
    }
}
.subtitle {
    font-family: Raleway;
    color: rgb(215, 230, 255);
}

.outline{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.btn{
    color: rgb(215, 230, 255);
    box-shadow: none;
    border-color: rgb(215, 230, 255);
    border-left: none;
}

.btn:hover, .btn:focus, .btn:active {
    color: rgb(255,75,30) !important;
    background: none !important;
    border-color: rgb(255,75,30) !important;
    box-shadow: none !important;
}
a, a:visited{
    border: none !important;
    font-family: Raleway;
    font-size: 1.4em !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


