.logo {
    width: 40px;
    height: 40px;
}
.table{
    background-color: rgba(27, 78, 133, 0.7);
    border: 5px rgb(255,75,30) solid;
	color: rgb(215, 230, 255);
}
.table-container{
	max-width: 95%;
	margin: 0 auto;
}
td {
	border: none !important;
}
th {
	border-top: none !important;
	border-bottom-color: rgba(215, 230, 255, .5) !important;
}