{% extends "header.html" %}
{% block head %}
<link  href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center px-3">
        <div class="text-center">
            <h1 class="noselect title outline">The Play Odds</h1>
            <h4 class="noselect subtitle outline">A Fantasy Football Playoff Seed Prediction Tool<br>Based on the Monte Carlo Method</h4>
            <!-- <form id="simulate-form"> -->
                <div class="form-row">
                    <div class="form-group col-7">
                      <input type="text" class="form-control" id="espnURL" placeholder="ESPN Fantasy Team URL or ID">
                    </div>
                    <div class="form-group col-2">
                      <select id="inputWeek" class="form-control">
                        <option selected>Week</option>
                        {% for i in range(1,17) %}
                        <option>{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-2">
                      <select id="inputYear" class="form-control">
                        <option selected>Year</option>
                        {% for i in range(2005,2019) %}
                        <option>{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-1">
                        <button onclick="onButtonClick()" class="btn btn-outline-primary" name="go-button">GO</button>
                    </div>
                </div>
            <!-- </form> -->
            <a href="/info" class="btn outline">info</a>
        </div>
    </div>
</div>


{% if error %}
<script>
    var error = "{{ error }}";
    alert(error);
</script>
{% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
    var overlay;
    function setLoadingScreen(){
        overlay = document.createElement("div");
        overlay.className += "overlay";
        document.body.appendChild(overlay);
    }
    function removeLoadingScreen(){
        document.body.removeChild(overlay);
    }

    function onButtonClick(){
        data = {
            espnURL: document.getElementById('espnURL').value,
            week: document.getElementById('inputWeek').value,
            year: document.getElementById('inputYear').value
        }
        fetch('/simulate', {
            method: "POST", // *GET, POST, PUT, DELETE, etc.
            mode: "cors", // no-cors, cors, *same-origin
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin", // include, *same-origin, omit
            redirect: "follow",
            headers: {
                "Content-Type": "application/json",
                // "Content-Type": "application/x-www-form-urlencoded",
            },
            redirect: "follow", // manual, *follow, error
            referrer: "no-referrer", // no-referrer, *client
            body: JSON.stringify(data), // body data type must match "Content-Type" header
            })
        .then(response => response.json()) // parses response to JSON
        .then(res => {
            console.log('Response:', res);
            if(res.error){
                console.error('Error:', res.error);
                alert(res.error);
            }else if(res.job_id){
                window.location.href = '/results/' + res.job_id;
            }else{
                alert('Something weird went wrong');
            }
            removeLoadingScreen();
        })
        .catch(error => {
            console.error('Error:', error);
            removeLoadingScreen();
        });
        setLoadingScreen();
        return false;
    }

</script>
{% endblock %}