{% extends "header.html" %}
{% block head %}
<link  href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}


{% if error %}
<script>
    var error = "{{ error }}";
    alert(error);
</script>
{% endif %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center px-3">
        <div class="text-center">
            <h1 class="noselect title outline">The Play Odds</h1>
            <h4 class="noselect subtitle outline">A Fantasy Football Playoff Seed Prediction Tool<br>Based on the Monte Carlo Method</h4>
            <form method="POST">
                <div class="form-row">
                    <div class="input-group">
                        <input class="form-control" type="text" name="espn-url" placeholder="ESPN Fantasy Team URL">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary" name="go-button">GO</button>
                        </div>
                    </div>
                </div>
            </form>
            <a href="/info" class="btn outline">info</a>
        </div>
    </div>
</div>
{% endblock %}
