{% extends "header.html" %}
{% block head %}
<link  href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}


{% if error %}
<script>
    var error = "{{ error }}";
    alert(error);
</script>
{% endif %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center px-3">
        <div class="text-center">
            <h1 class="noselect title outline">The Play Odds</h1>
            <h4 class="noselect subtitle outline">A Fantasy Football Playoff Seed Prediction Tool<br>Based on the Monte Carlo Method</h4>
            <form method="POST">
                <div class="form-row">
                    <div class="form-group col-7">
                      <input type="text" class="form-control" name="espn-url" placeholder="ESPN Fantasy Team URL or ID">
                    </div>
                    <div class="form-group col-2">
                      <select name="inputWeek" class="form-control">
                        <option selected>Week</option>
                        {% for i in range(1,17) %}
                        <option>{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-2">
                      <select name="inputYear" class="form-control">
                        <option selected>Year</option>
                        {% for i in range(2005,2019) %}
                        <option>{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-1">
                        <button type="submit" class="btn btn-outline-primary" name="go-button">GO</button>
                    </div>

                </div>
            </form>
            <a href="/info" class="btn outline">info</a>
        </div>
    </div>
</div>
{% endblock %}
