{% extends "header.html" %}
{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center px-3">
        <div class="text-center">
            <h1 class="noselect title outline">Information</h1>
            <h4><a class="btn outline" href="https://github.com/ejnarvala/ThePlayOdds/issues">Open A Github Issue</a></h4>	
            <h4><a href="/" class="btn outline">Return</a></h4>
        </div>
    </div>
</div>


{% endblock %}
